=medal($color, $font-size, $padding)
  font-size: $font-size

  &::before
    background-color: $color
    border-radius: 100%
    line-height: calc(4rem - #{$padding} * 2)
    padding: $padding

  td:first-child
    font-family: 'Leckerli One', cursive

=content-circle($bg-color, $display, $size, $content:'')
  background: $bg-color
  border-radius: 100%
  content: $content
  display: $display
  height: $size
  width: $size

=center-absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  position: absolute
