@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Lora:400i')

@import mixins
@import variables


body
  box-sizing: border-box
  color: $secondary
  display: flex
  flex-direction: column
  font-family: 'Lora', serif
  height: 100vh
  margin: 0
  position: relative

header, table
  margin-left: auto
  width: calc(50% - 20px)

h1
  display: none

form
  align-items: center
  background: linear-gradient(-6deg, $secondary 0%, $secondary 49.75%, white 49.9%, white 50.1%, $primary 50.25%, $primary 100%)
  box-sizing: border-box
  color: #fff
  display: flex
  flex-direction: column
  height: calc(100% - 20px)
  justify-content: space-around
  left: 10px
  padding: 2.5% 7.5%
  position: fixed
  top: 10px
  width: calc(50% - 10px)

  h2
    font-family: 'Leckerli One', cursive
    font-size: 2.5em
    font-weight: normal
    line-height: 1em
    margin: 0
    position: relative
    text-align: center
    transform: rotate(-12.5deg)
    width: min-content

    &::before
      background: $primary-hue-3
      border-radius: 100%
      content: ''
      display: block
      height: 3em
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      position: absolute
      width: 3em
      z-index: -1

  &::after
    align-items: center
    background: #fff
    border-radius: 100%
    color: $primary
    content: 'vs'
    display: flex
    font-family: 'Leckerli One', cursive
    font-size: 1.75em
    justify-content: center
    left: 50%
    height: 3.5rem
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    width: 3.5rem

fieldset
  align-self: stretch
  border-style: hidden

  legend
    background: inherit
    color: white
    float: left
    font-family: 'Leckerli One', cursive
    font-size: 1.75em
    margin-bottom: 2rem

    &::before
      background: url('img/t-shirt.png') center no-repeat, $primary-hue-3
      border-radius: 100%
      content: ''
      display: inline-block
      height: 1em
      margin-right: 10px
      width: 1em

  legend::before, select, input
    background-color: $primary-hue-2

  & + fieldset
    legend::before, select, input
      background-color: $secondary-hue-2

    label:not(:last-of-type) select
      border-top: 4px solid $secondary-hue-3

label
  select, input
    color: inherit
    font-family: inherit

  &:first-of-type
    margin-bottom: 2rem

  &:not(:last-child)
    display: block
    font-size: 0
    line-height: 2rem
    width: calc(100% - 8rem)

    select
      border-style: hidden
      border-bottom-left-radius: .25em
      border-bottom-right-radius: .25em
      border-top: 4px solid $primary-hue-3
      display: block
      font-size: 14pt
      height: 3rem
      margin-top: -3rem
      padding: 0 .75em
      transition: background .25s, color .25s
      width: 100%

      &:blank
        background: red

      &:focus
        background: #fff
        color: $secondary
        outline: none

      option
        line-height: 3

  &:last-of-type
    float: right
    font-size: 0
    height: 7rem
    margin-top: -7rem
    width: 7rem

    & input
      box-shadow: 0 0 0 2pt inherit
      border-style: hidden
      border-radius: 100%
      font-size: 3.5rem
      font-weight: bold
      line-height: 7rem
      height: 100%
      text-align: center
      transition: box-shadow .25s
      width: 100%

      &:focus
        box-shadow: 0 0 0 2pt #fff
        outline: none

input[type="submit"]
  border-style: hidden
  border-bottom: 4px solid $primary
  color: $primary
  display: block
  font-family: 'Leckerli One', cursive
  font-size: 2em
  margin: .25em 0
  padding: .25em 1em

h2
  +right-side
  font-size: 0
  text-align: center

  &::before
    content: url('img/cup.png')

table
  +right-side
  margin-bottom: 3em
  margin-top: 3em
  padding: 0 7.5%

tbody
  counter-reset: ranking

  tr
    align-items: center
    display: flex
    justify-content: flex-end
    white-space: nowrap

    &::before
      align-items: center
      content: counter(ranking)
      counter-increment: ranking
      display: flex
      font-family: 'Leckerli One', cursive
      justify-content: center
      margin: auto
      text-align: center
      width: 4rem

    &:nth-child(1)
      +medal(gold, 1.5em)

    &:nth-child(2)
      +medal(silver, 1.2em)

    &:nth-child(3)
      +medal(#cd7f32, 1.1em)

    &:nth-child(2n)
      background: rgba($primary, .1)

    td:first-child
      box-sizing: border-box
      padding: 1em
      width: 15rem

    td:last-child
      width: 5rem
