<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>B.A.B.Y.T.E</title>
    <link rel="stylesheet" href="static/style.sass.css">
  </head>
  <body>
    <header>
      <h1>Bienvenue sur Babyte</h1>
      <nav>
        <ul>
          <li><a href="/"> Accueil </a></li>
          <li><a href="/list"> Liste des Matches </a></li>
        </ul>
      </nav>
    </header>
    <form action="{{ url_for('add_match') }}" method=post>
      <h2>Nouvelle partie</h2>
    {% for team_number in (1,2) %}
      <fieldset>
        <legend>Team {{ team_number }}</legend>
        {% for player_number in (1,2) %}
        <label>
          Joueur {{ player_number }}
          <select name="team{{ team_number }}_player{{ player_number }}">
            <option value=""></option>
            {% for user in session.users | sort %}
              <option value="{{ user }}">{{ user }}</option>
            {% endfor %}
          </select>
        </label>
        {% endfor %}
        <label>
          Score
          <input name="score_team{{ team_number }}">
        </label>
      </fieldset>
    {% endfor %}
      <input type="submit">
    </form>
    <h2>Classement</h2>
    <table>
      {% for user in ranking.values() | sort(attribute='ranking') | reverse %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.ranking }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
