<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>B.A.B.Y.T.E</title>
  </head>
  <body>
    <h1>Bienvenue sur Babyte</h1>
    <nav>
      <ul>
        <li><a href="/"> Accueil </a></li>
        <li><a href="/list"> Liste des Matches </a></li>
      </ul>
    </nav>
    <h1>Liste des Matches Babyte-Kozea</h1>
    <table>
      {% for match in matches %}
        <tr>
          <td>{{ match.team1_player1 }}- {{ match.team1_player2 }}</td>
          <td>{{ match.score_team1 }}</td>
          <td>{{ match.score_team2 }}</td>
          <td>{{ match.team2_player1 }}- {{ match.team2_player2 }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
    
