<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>B.A.B.Y.T.E</title>
    <link rel="stylesheet" href="static/style.sass.css">
  </head>
  <body>
    <header>
      <h1>Bienvenue sur Babyte</h1>
      <nav>
        <ul>
          <li><a href="/"> Accueil </a></li>
          <li><a href="/list"> Liste des Matches </a></li>
        </ul>
      </nav>
    </header>
    <h1>Liste des Matches Babyte-Kozea</h1>
    {% for match in matches %}
      <dl>
        <dt>
          <span>{{ match.team1_player1 }}</span>{% if match.team1_player2 %}<span>{{ match.team1_player2 }}</span>{% endif %}
        </dt>
        <dd>{{ match.score_team1 }}</dd>
        <dt>
          <span>{{ match.team2_player1 }}</span>{% if match.team1_player2 %}<span>{{ match.team2_player2 }}</span>{% endif %}
        </dt>
        <dd>{{ match.score_team2 }}</dd>
      </dl>
    {% endfor %}
  </body>
</html>
