<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>B.A.B.Y.T.E</title>
  </head>
  <body>
    <h1>Liste des Matches avec Résultat</h1>
    <nav>
      <ul>
        <li><a href="/"> Accueil </a></li>
        <li><a href="/list"> Liste des Matches </a></li>
      </ul>
    </nav>
    <h1>Liste des Matches Babyte-Kozea</h1>
    <table> 
      <tr>
        <th> Equipe 1 </th>
        <th> Score Equipe 1 </th>
        <th> Score Equipe 2 </th>
        <th> Equipe 2 </th>
      </tr>
        <td> NomEquipe1 </td>
        <td> 10 </td>
        <td> 9 </td>
        <td> NomEquipe2 </td>
      <tr>
      </tr>
        <td> NomEquipe1 </td>
        <td> 6 </td>
        <td> 10 </td>
        <td> NomEquipe2 </td>
      <tr>
      </tr>
    </table>
  </body>
</html>
    
